@using Umwelt_liteV.Data.Models.ViewModels
@model BaseFilterVm<ArticleListVm>
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/AdminPages/articlesList.css">
    <title>Articles</title>
</head>
<body>


    <div class="header-div">
        <div class="h-left">
            <p class="title">Umwelt-Admin</p>
        </div>
        <div class="h-right">
            <p class="username">Mehrshad</p>
        </div>
    </div>


    <div class="main-div">
        <div class="card">
            <div class="card-head">
                <form method="get" class="form-search" asp-action="ArticleList" id="formFilter">
                    <input hidden value="@Model.PageIndex" id="pageId">
                    <div class="search-div">
                        <label>
                            Search:
                            <input name="search" type="search" class="search-input">
                        </label>
                    </div>
                    <div class="search-sub">
                        <button class="submit-search" type="submit">Search</button>
                    </div>
                </form>
            </div>
            <div class="card-body">
                <table class="my-table">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Image</th>
                            <th>Fuck</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int counter = 1;
                        }

                        @foreach(var item in Model.Entities)
                        {
                            <tr>
                                <th scope="row">@counter</th>
                                <td><img src="/img/articleData/image/@item.ImageName"></td>
                                <td>@item.Title</td>
                                <td>@item.DateCreated</td>
                                <td>
                                    <a asp-area="Admin" asp-controller="Admin" asp-action="EditArticle" asp-route-id="@item.MyArticleId" class="">
                                        Edit
                                    </a>
                                    <a asp-area="Admin" asp-controller="Admin" asp-action="DeleteArticle" asp-route-id="@item.MyArticleId">
                                        Delete
                                    </a>
                                </td>
                            </tr>
                            counter++;
                        }
                    </tbody>
                </table>
            </div>

            <div class="card-footer">
                @if(Model.PageCount > 1 )
                {
                    <nav aria-label="Page navigation example">
                        <ul>
                            @if(Model.PageIndex > Model.StartPage)
                            {
                                <li>
                                    <a href="">
                                        <span aria-hidden="true">«</span>
                                    </a>
                                </li>
                            }
                            @for(int i = Model.StartPage ; i <= Model.EndPage; ++i  )
                            {
                                <li>
                                    <a class="page-link paginations @(Model.PageIndex == i ? "active" : "")" href="javascript:;">@i</a>
                                </li>
                            }
                            @if(Model.PageIndex < Model.EndPage)
                            {
                                <li>
                                    <a>
                                        <span aria-hidden="true">»</span>
                                    </a>
                                </li>
                            }
                        </ul>
                    </nav>
                }
            </div>
        </div>
    </div>
    @section Scripts{
        <script>
            $(document).ready(function () {
                $(".paginations").click(function () {
                    $("#pageId").val($(this).text());
                    $("#formFilter").submit();
                })
            }
            )
        </script>
    }


        <!-- Sweet Alert Section -->
        <div>
            <input type="hidden" id="message1" value="@TempData["success"]" />
            <input type="hidden" id="message2" value="@TempData["error"]" />
            <input type="hidden" id="message3" value="@TempData["warning"]" />
            <input type="hidden" id="message4" value="@TempData["info"]" />
        </div>

        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <partial name="_SideMessage" />
</body>
</html>